.App {
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
.container {
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 1%;
  margin-bottom: 20%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
input {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 6px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.app-heading {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.weather-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.weather-data p {
  font-size: 24px;
  margin: 10px;
}
p.error {
  color: red;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}
/*hdfgd*/
.weather-card {
  width: 10px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0, 0, 0/ 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}
.card-header,
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.weather-city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1px;
}
.weather-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
.weather-icon {
  width: 100px;
}
.weather-temp {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}
.weather-details {
  width: 100%;
  padding-left: 20px;
}
.parameters {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
.param-val {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
