body {
    background-color: #fff;
}
.container {
    text-align: center;
}
.form-group {
    border-radius: 50%;
}
.form-control {
    text-align: center;
    border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}